<%- include('header'); -%>
<body>
    <div class="main">
        <h1><%=list%></h1>
    <ul>
       <% for(var i=0; i<newtask.length; i++){ %>
            <div class="item">
                <input type="checkbox" class="checkbox">
                <h4><%=newtask[i]%></h4>
            </div>
        <%} %>
    </ul>
    <form action="/" method="post">
        <input type="text" name="newtask" class="newtask" placeholder="Task" autocomplete="off">
        <button type="submit" name="button" class="add-btn" value=<%=list%> >+</button>
    </form>
    </div>
</body>

<%- include('footer'); -%>
